<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    {# notre google font #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap">

    {# notre css #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {# le favicon #}
    <link rel="icon" href="{{ asset('img/favicon.png') }}">	
</head>
<body>
    {# entête du site #}
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('app_main_index') }}" title="Go back to homepage" id="logo">
                    <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List Logo">Bucket-List
                </a>
            </h1>
            <nav class="header-nav">
                {# Amélioration conseillée : <ul> <li>  #}
                <a href="{{ path('app_main_index') }}" title="Go back to homepage">Home</a>&nbsp;&nbsp;
{#                <a href="{{ path('app_main_test') }}" title="Main test">Test</a>&nbsp;#}
                <a href="{{ path('app_main_about_us') }}" title="About us">About us</a>

                {%  if app.user %}
                    <a href="{{ path('app_wish_index') }}" title="All things to do">All wishes</a>
                    <a href="{{ path('app_wish_new') }}" title="Create a new wish">New wish</a>
                    <a href="{{ path('app_logout') }}" title="Logout">Logout</a>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('app_admin_index') }}" title="Admin">Admin</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}" title="Login">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

     {# contenu principal de chaque page #}
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    {# pied-de-page du site #}
    <footer>
        <div class="container">
            &copy; Bucket-List {{ "now"|date("Y") }}
        </div>
    </footer>

{#    {% block javascripts %}#}
{#        {% block importmap %}{{ importmap('app') }}{% endblock %}#}
{#    {% endblock %}#}
</body>
</html>